<html>
    <head>
        <title>Donor Checkout Page</title>

        <link href="favicon.ico" rel="shortcut icon" type="../image/x-icon" />

        <link href="../css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />

        <!-- LOAD JQUERY LIBRARY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/children.js"></script>

        <link href="../css/Site.css" rel="stylesheet" />
        <link href="../css/checkout.css" rel="stylesheet" />        
    </head>

    <body>
        <section class="pre-header">
            <div class="content">
                <div class="row vcenter">
                    <div class="col-sm-1 hidden-xs col-sm-offset-1">
                        <a class="vcenter" href="https://twitter.com/AMGGuatemala">
                            <img src="../image/btn-pre-twitter.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://www.facebook.com/amgguatemala">
                            <img src="../image/btn-pre-facebook.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ">
                            <img src="../image/btn-pre-youtube.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://instagram.com/amgguatemala/">
                            <img src="../image/btn-pre-instagram.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1">
                        <a class="vcenter" href="en.amgg.org">English</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="vcenter" href="pdf/boletin.pdf">Boletin</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="vcenter" href="https://amgg.org/children/">Donar</a>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <a class="vcenter" href="https://www.facebook.com/Guates-Best-Store-1431567437168029/">Guates Best</a>
                    </div>
                    <div class="col-sm-1 pre-active">
                        <a class="vcenter" href="involucrate.html#Apadrina">Apadrina</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="content-wrapper row row-centered">
            <div class="form col-md-6" id="children-to-sponsor">
                <span class="header">Children You Are Sponsoring</span>
                <hr>
                <div class="col-md-4">
                    <img class="center-block" src="../image/nino-2.png"/>
                </div>
                <span class="col-md-8 child-info"> Name </span>
                <span class="col-md-8 child-info"> Age </span>
                <span class="col-md-8 child-info"> Date of Birth </span>
                <span class="col-md-8 child-info"> Gender </span>
                <span class="col-md-8 child-info"> Center </span>
                <span class="col-md-8 child-info"> Sponsorship Amount </span>
            </div>

            <div class="form col-md-6" id="donor-info">
                <span class="header">Billing Information</span>
                <hr>
                <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="first-name" placeholder="First Name" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="last-name" placeholder="Last Name" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Phone Number</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="phone-number" placeholder="(978) 927-2300" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="email" placeholder="goodsamaritan@gmail.com" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Address</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="address" placeholder="Street" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="address-city" placeholder="City" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="address-country" placeholder="Country" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="email" placeholder="goodsamaritan@gmail.com" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Card Number</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="email" placeholder="xxxx xxxx xxxx xxxx" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">CSV</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="email" placeholder="123" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Expiration Date</label>
                    <div class="expiration-date">
                        <div class="col-md-8">
                            <div class="dropdown expiration-date">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                01
                                <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li><a href="#">05</a></li>                       
                                <li><a href="#">06</a></li>
                                <li><a href="#">07</a></li>
                                <li><a href="#">08</a></li>
                                <li><a href="#">09</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#">11</a></li>
                                <li><a href="#">12</a></li>
                              </ul>
                            </div>
                            <span class="expiration-date">/</span>
                            <div class="dropdown expiration-date">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                20
                                <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">21</a></li>
                                <li><a href="#">22</a></li>
                                <li><a href="#">23</a></li>
                                <li><a href="#">24</a></li>                       
                                <li><a href="#">25</a></li>
                                <li><a href="#">26</a></li>
                                <li><a href="#">27</a></li>
                                <li><a href="#">28</a></li>
                                <li><a href="#">29</a></li>
                                <li><a href="#">30</a></li>
                                <li><a href="#">31</a></li>
                                <li><a href="#">32</a></li>
                                <li><a href="#">33</a></li>
                                <li><a href="#">34</a></li>
                                <li><a href="#">35</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="checkout-submit" class="btn btn-default pull-right" type="button">Submit</button>
            </div>
        </div>

        <footer id="Footer" class="container-fluid bottom">
            <div class="row">
               <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <p>
                        AMG Internacional Guatemala<br />
                        Tel: (502) 24715730<br />
                        <a class="text-#F5841F" href="mailto:info@amgguatemala.org">info@amgguatemala.org</a><br />
                        14 Calle 10-80, zona 7 Colonia La Verbena, Guatemala C.A.<br />
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="https://twitter.com/AMGGuatemala"><img src="../images/btn-twitter.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://www.facebook.com/amgguatemala"><img src="../images/btn-facebook.png" /></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ"><img src="../images/btn-youtube.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://instagram.com/amgguatemala/"><img src="../images/btn-instagram.png" /></a>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                    <br/>
                    <img class="img-responsive" src="../images/footer-logo.png" />
                </div>
            </div>
        </footer>
    </body>
</html>