<!DOCTYPE html>
<html>
    <head>
        <title>Sponsor A Child</title>

        <link href="../favicon.ico" rel="shortcut icon" type="../image/x-icon" />

        <!-- Bootstrap -->
        <link href="../css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <!-- owl slider -->
        <link rel="stylesheet" href="../css/owl.carousel.css">
        <link rel="stylesheet" href="../css/owl.theme.css">
        <script src="../js/owl.carousel.js"></script>

        <!-- client side code -->
    	<script type="text/javascript" charset="utf-8" src="./../js/children.js"></script>

        <link href="../css/Site.css" rel="stylesheet" />
        <link href="../css/children.css" rel="stylesheet" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <section class="pre-header">
            <div class="content">
                <div class="row vcenter">
                    <div class="col-sm-1 hidden-xs col-sm-offset-1">
                        <a class="vcenter" href="https://twitter.com/AMGGuatemala">
                            <img src="../image/btn-pre-twitter.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://www.facebook.com/amgguatemala">
                            <img src="../image/btn-pre-facebook.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ">
                            <img src="../image/btn-pre-youtube.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://instagram.com/amgguatemala/">
                            <img src="../image/btn-pre-instagram.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1">
                        <a class="vcenter" href="https://en.amgg.org">English</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="vcenter" href="pdf/boletin.pdf">Boletin</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="vcenter" href="children.html">Donar</a>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <a class="vcenter" href="https://www.facebook.com/Guates-Best-Store-1431567437168029/">Guates Best</a>
                    </div>
                    <div class="col-sm-1 pre-active">
                        <a class="vcenter" href="involucrate.html#Apadrina">Apadrina</a>
                    </div>
                    <div class="col-sm-1 pre-active">
                        <a href="#" class="vcenter" id="toggle-login">Log in</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="login" algin="right">
            <div class="login-triangle"></div>
            <h1>Log in</h1>
            <form>
                <input class="donor-email" type="email" placeholder="Email" />
                <input class="donor-password" type="password" placeholder="Password" />
                <button class="login-submit" type="submit" value="Log in">  Log in </a> </button>
            </form>
        </div>

        <div class="demo">

        <div id="container" class="row">
            <div id="spinner-and-slider" class="col-md-8">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>

                <div class="span8 owl-carousel owl-theme">
                </div>

                <div class="nav-buttons">
                    <div id="prev-button" class="btn btn-primary btn-sm child-intro-btn-sponsor sponsor-button">
                        anterior
                    </div>
                    <div id="add-button" class="btn btn-primary btn-sm child-intro-btn-sponsor">
                        tener otro hijo
                    </div>
                    <div id="next-button" class="btn btn-primary btn-sm child-intro-btn-sponsor">
                        el siguiente
                    </div>
                </div>
            </div>

            <div id="find-a-child" class="col-md-4 span4">
                <div class="child-search">
                    <div class="panel panel-primary find-child-panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="lead text-center">Find a Child</p>
                                    <p class="text-center">Thousands of children are waiting for sponsorship around the globe.<br>Find your perfect match!</p>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group bootstrap-select">
                                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                                <span id="genderSearch" class="filter-option pull-left">género</span>&nbsp;
                                                <span class="caret"></span>
                                            </button>
                                            <ul id='search-gender' class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                <li rel="0" class="selected">
                                                    <a tabindex="0" class="" style="">género</a>
                                                </li>
                                                <li rel="1">
                                                    <a tabindex="0" class="" style="">masculino</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">mujer</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="btn-group bootstrap-select">
                                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                                <span id="locationSearch" class="filter-option pull-left">provincia</span>&nbsp;
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="search-center" class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                <li rel="0" class="selected">
                                                    <a tabindex="0" class="" style="">provincia</a>
                                                </li>
                                                <li rel="1">
                                                    <a tabindex="0" class="" style="">Alta Verapaz</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Baja Verapaz</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Chimaltenango</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Chiquimula</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">El Progreso</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Escuintla</a>
                                                </li>
                                                <li rel="1">
                                                    <a tabindex="0" class="" style="">Huehuetenango</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Izabal</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Jalapa</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Jutiapa</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Peten</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Quetzaltenango</a>
                                                </li>
                                                <li rel="1">
                                                    <a tabindex="0" class="" style="">Huehuetenango</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Quiche</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Retalhuleu</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Sacatepequez</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Solola</a>
                                                </li>
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">Suchitepequez</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="btn-group bootstrap-select">
                                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="ageSearch">
                                                <span id="ageSearch" class="filter-option pull-left">años</span>&nbsp;
                                                <span class="caret"></span>
                                            </button>
                                            <ul id='search-age' class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                <li rel="0" class="selected">
                                                    <a tabindex="0" class="" style="">años</a>
                                                </li>
                                                <!--
                                                <li rel="1">
                                                    <a tabindex="0" class="" style=""> &lt;1</a>
                                                </li>
                                                -->
                                                <li rel="2">
                                                    <a tabindex="0" class="" style="">1</a>
                                                </li>
                                                <li rel="3">
                                                    <a tabindex="0" class="" style="">2</a>
                                                </li>
                                                <li rel="4">
                                                    <a tabindex="0" class="" style="">3</a>
                                                </li>
                                                <li rel="5">
                                                    <a tabindex="0" class="" style="">4</a>
                                                </li>
                                                <li rel="6">
                                                    <a tabindex="0" class="" style="">5</a>
                                                </li>
                                                <li rel="7">
                                                    <a tabindex="0" class="" style="">6</a>
                                                </li>
                                                <li rel="8">
                                                    <a tabindex="0" class="" style="">7</a>
                                                </li>
                                                <li rel="9">
                                                    <a tabindex="0" class="" style="">8</a>
                                                </li>
                                                <li rel="10">
                                                    <a tabindex="0" class="" style="">9</a>
                                                </li>
                                                <li rel="11">
                                                    <a tabindex="0" class="" style="">10</a>
                                                </li>
                                                <li rel="12">
                                                    <a tabindex="0" class="" style="">11</a>
                                                </li>
                                                <li rel="13">
                                                    <a tabindex="0" class="" style="">12</a>
                                                </li>
                                                <li rel="14">
                                                    <a tabindex="0" class="" style="">13</a>
                                                </li>
                                                <li rel="15">
                                                    <a tabindex="0" class="" style="">14</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                        <div class="col-xs-12">
                                            <div class="btn-group bootstrap-select" onchange="BirthMonthSelected()">
                                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" >
                                                    <span id="birthmonthSearch" class="filter-option pull-left">mes de nacimiento</span>&nbsp;
                                                    <span class="caret"></span>
                                                </button>
                                                <ul id='search-birthmonth' class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                    <li rel="0" class="selected">
                                                        <a tabindex="0" class="" style="">mes de nacimiento</a>
                                                    </li>
                                                    <li rel="1">
                                                        <a tabindex="0" class="" style="">enero</a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">febrero</a>
                                                    </li>
                                                    <li rel="3">
                                                        <a tabindex="0" class="" style="">marzo</a>
                                                    </li>
                                                    <li rel="4">
                                                        <a tabindex="0" class="" style="">abril</a>
                                                    </li>
                                                    <li rel="5">
                                                        <a tabindex="0" class="" style="">mayo</a>
                                                    </li>
                                                    <li rel="6">
                                                        <a tabindex="0" class="" style="">junio</a>
                                                    </li>
                                                    <li rel="7">
                                                        <a tabindex="0" class="" style="">julio</a>
                                                    </li>
                                                    <li rel="8">
                                                        <a tabindex="0" class="" style="">agosto</a>
                                                    </li>
                                                    <li rel="9">
                                                        <a tabindex="0" class="" style="">septiembre</a>
                                                    </li>
                                                    <li rel="10">
                                                        <a tabindex="0" class="" style="">octubre</a>
                                                    </li>
                                                    <li rel="11">
                                                        <a tabindex="0" class="" style="">noviembre</a>
                                                    </li>
                                                    <li rel="12">
                                                        <a tabindex="0" class="" style="">diciembre</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="btn-group bootstrap-select ng-pristine ng-valid">
                                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="birthdaySearch">
                                                    <span id="birthdaySearch" class="filter-option pull-left">día del nacimiento</span>&nbsp;
                                                    <span class="caret"></span>
                                                </button>
                                                <ul id='search-birthday' class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                    <li rel="0" class="selected">
                                                        <a tabindex="0" class="" style="">día del nacimiento</a>
                                                    </li>
                                                    <li rel="1">
                                                        <a tabindex="0" class="" style="">1</a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">2</a>
                                                    </li>
                                                    <li rel="3">
                                                        <a tabindex="0" class="" style="">3</a>
                                                    </li>
                                                    <li rel="4">
                                                        <a tabindex="0" class="" style="">4</a>
                                                    </li>
                                                    <li rel="5">
                                                        <a tabindex="0" class="" style="">5</a>
                                                    </li>
                                                    <li rel="6">
                                                        <a tabindex="0" class="" style="">6</a>
                                                    </li>
                                                    <li rel="7">
                                                        <a tabindex="0" class="" style="">7</a>
                                                    </li>
                                                    <li rel="8">
                                                        <a tabindex="0" class="" style="">8</a>
                                                    </li>
                                                    <li rel="9">
                                                        <a tabindex="0" class="" style="">9</a>
                                                    </li>
                                                    <li rel="10">
                                                        <a tabindex="0" class="" style="">10</a>
                                                    </li>
                                                    <li rel="11">
                                                        <a tabindex="0" class="" style="">11</a>
                                                    </li>
                                                    <li rel="12">
                                                        <a tabindex="0" class="" style="">12</a>
                                                    </li>
                                                    <li rel="13">
                                                        <a tabindex="0" class="" style="">13</a>
                                                    </li>
                                                    <li rel="14">
                                                        <a tabindex="0" class="" style="">14</a>
                                                    </li>
                                                    <li rel="15">
                                                        <a tabindex="0" class="" style="">15</a>
                                                    </li>
                                                    <li rel="16">
                                                        <a tabindex="0" class="" style="">16</a>
                                                    </li>
                                                    <li rel="17">
                                                        <a tabindex="0" class="" style="">17</a>
                                                    </li>
                                                    <li rel="18">
                                                        <a tabindex="0" class="" style="">18</a>
                                                    </li>
                                                    <li rel="19">
                                                        <a tabindex="0" class="" style="">19</a>
                                                    </li>
                                                    <li rel="20">
                                                        <a tabindex="0" class="" style="">20</a>
                                                    </li>
                                                    <li rel="21">
                                                        <a tabindex="0" class="" style="">21</a>
                                                    </li>
                                                    <li rel="22">
                                                        <a tabindex="0" class="" style="">22</a>
                                                    </li>
                                                    <li rel="23">
                                                        <a tabindex="0" class="" style="">23</a>
                                                    </li>
                                                    <li rel="24">
                                                        <a tabindex="0" class="" style="">24</a>
                                                    </li>
                                                    <li rel="25">
                                                        <a tabindex="0" class="" style="">25</a>
                                                    </li>
                                                    <li rel="26">
                                                        <a tabindex="0" class="" style="">26</a>
                                                    </li>
                                                    <li rel="27">
                                                        <a tabindex="0" class="" style="">27</a>
                                                    </li>
                                                    <li rel="28">
                                                        <a tabindex="0" class="" style="">28</a>
                                                    </li>
                                                    <li rel="29">
                                                        <a tabindex="0" class="" style="">29</a>
                                                    </li>
                                                    <li rel="30">
                                                        <a tabindex="0" class="" style="">30</a>
                                                    </li>
                                                    <li rel="31">
                                                        <a tabindex="0" class="" style="">31</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="search-button" class="btn btn-primary btn-sm child-intro-btn-sponsor sponsor-button col-xs-12" align="right">
                                    search
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <footer id="Footer" class="container-fluid bottom">
            <div class="row">
               <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <p>
                        AMG Internacional Guatemala<br />
                        Tel: (502) 24715730<br />
                        <a class="text-#F5841F" href="mailto:info@amgguatemala.org">info@amgguatemala.org</a><br />
                        14 Calle 10-80, zona 7 Colonia La Verbena, Guatemala C.A.<br />
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="https://twitter.com/AMGGuatemala"><img src="../images/btn-twitter.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://www.facebook.com/amgguatemala"><img src="../images/btn-facebook.png" /></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ"><img src="../images/btn-youtube.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://instagram.com/amgguatemala/"><img src="../images/btn-instagram.png" /></a>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                    <br/>
                    <a href="../index.html"><img class="img-responsive" src="../images/footer-logo.png"/></a>
                </div>
            </div>
        </footer>
    </body>
</html>
