<html>
    <head>
        <title>Sponsor A Child</title>
        <link href="../favicon.ico" rel="shortcut icon" type="../image/x-icon" />

        <link href="../css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />

        <!-- LOAD JQUERY LIBRARY -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
        <!-- LOAD BOOTSTRAP -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->


        <script src="../js/jquery-1.11.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/docs.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../js/ie10-viewport-bug-workaround.js"></script>

        <!-- jssor slider scripts-->
        <!-- use jssor.slider.debug.js for debug -->
        <script type="text/javascript" src="../js/jssor.slider.mini.js"></script>

        <script type="text/javascript" charset="utf-8" src="../js/children.js"></script>

        <link href="../css/Site.css" rel="stylesheet" />
        <link href="../css/children.css" rel="stylesheet" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
	<body>

<div style="min-height: 50px;">
        <!-- Jssor Slider Begin -->
        <!-- To move inline styles to css file/block, please specify a class name for each element. -->
        <!-- ================================================== -->
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
                <div style="position: absolute; display: block; background: url(../images/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
            </div>
        </section>


        <div class="carousel" style="min-height: 50px;">
            <!-- Jssor Slider Begin -->
            <!-- To move inline styles to css file/block, please specify a class name for each element. -->
            <!-- ================================================== -->
            <div id="slider1_container" class="slider1_container">
                <!-- Loading Screen -->
                <div class="loading" u="loading">
                    <div class="loading1">
                    </div>
                    <div class="loading-gif">
                    </div>
                </div>
                <!-- Slides Container -->
                <div u="slides" class="slides">
                    <div class="child-slide">
                        <div class="col-xs-4">
                            <img id="child-picture1" class="img-responsive center-block child-picture" src="../image/nino-1.png"/>
                        </div>
                        <div class="col-xs-6">
                            <h1>Hola, me llamo <span id="child-name1"></span>!</h1>
                            <div class="child-description">
                                <p class="lead">I'm a <span id="child-age1"></span>-year-old <span id="child-gender1"></span> from <span id="child-location1"></span>, and you can change my world for good!</p>
                                <p>Make me part of your family, and help me reach my God-given potential. $<span id="child-cost1">39</span> a month can help transform my community and change my world.</p>
                            </div>
                            <a id="sponsor-button" class="btn btn-primary btn-lg child-intro-btn-sponsor sponsor-button" href="checkout.html">Conviértase Mi Patrocinador</a>
                        </div>
                    </div>
                    <div>
                        <div class="child-slide">
                        <div class="col-xs-4">
                            <img id="child-picture2" class="img-responsive center-block child-picture" src="../image/nino-1.png"/>
                        </div>
                        <div class="col-xs-6">
                            <h1>Hola, me llamo <span id="child-name2"></span>!</h1>
                            <div class="child-description">
                                <p class="lead">I'm a <span id="child-age2"></span>-year-old <span id="child-gender2"></span> from <span id="child-location2"></span>, and you can change my world for good!</p>
                                <p>Make me part of your family, and help me reach my God-given potential. $<span id="child-cost2">39</span> a month can help transform my community and change my world.</p>
                            </div>
                            <a id="sponsor-button" class="btn btn-primary btn-lg child-intro-btn-sponsor sponsor-button" href="checkout.html">Conviértase Mi Patrocinador</a>                            
                        </div>
                    </div> 
                    </div>
                    <div>
                        <div class="child-slide">
                        <div class="col-xs-4">
                            <img id="child-picture3" class="img-responsive center-block child-picture" src="../image/nino-1.png"/>
                        </div>
                        <div class="col-xs-6">
                            <h1>Hola, me llamo <span id="child-name3"></span>!</h1>
                            <div class="child-description">
                                <p class="lead">I'm a <span id="child-age3"></span>-year-old <span id="child-gender3"></span> from <span id="child-location3"></span>, and you can change my world for good!</p>
                                <p>Make me part of your family, and help me reach my God-given potential. $<span id="child-cost3">39</span> a month can help transform my community and change my world.</p>
                            </div>
                            <a id="sponsor-button" class="btn btn-primary btn-lg child-intro-btn-sponsor sponsor-button" href="checkout.html">Conviértase Mi Patrocinador</a>                            
                        </div>
                    </div> 
                    </div>
                </div>


            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb21" style="bottom: 6px; right: 6px;">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
            <!--#endregion Bullet Navigator Skin End -->

            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
        </div>
        <!-- Jssor Slider End -->


        <div class="child-search">
            <div class="panel panel-primary find-child-panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center">Find a Child</p>
                            <p class="text-center">Thousands of children are waiting for sponsorship around the globe.<br>Find your perfect match!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <select selectpicker="" name="genderSearch" class="inputbox form-control validate[required]" style="display: none;">
                                <option value="">Género</option>
                                <option value="M">Boy</option>
                                <option value="F">Girl</option>
                            </select>
                            <div class="btn-group bootstrap-select">
                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                    <span class="filter-option pull-left">Género</span>&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                    <li rel="0" class="selected">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Género</span>
                                        </a>
                                    </li>
                                    <li rel="1">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Boy</span>
                                        </a>
                                    </li>
                                    <li rel="2">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Girl</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <select selectpicker="" name="genderSearch" class="inputbox form-control validate[required]" style="display: none;">
                                <option value="">Centro de Ninos</option>
                                <option value="C1">Center 1</option>
                                <option value="C2">Center 2</option>
                                <option value="C3">Center 3</option>
                                <option value="C4">Center 4</option>
                            </select>
                            <div id="child-center" class="btn-group bootstrap-select">
                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                    <span class="filter-option pull-left">Centro de Ninos</span>&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                    <li rel="0" class="selected">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Centro de Ninos</span>
                                        </a>
                                    </li>
                                    <li rel="1">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Center 1</span>
                                        </a>
                                    </li>
                                    <li rel="2">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Center 2</span>
                                        </a>
                                    </li>
                                    <li rel="2">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Center 3</span>
                                        </a>
                                    </li>
                                    <li rel="2">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Center 4</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <select selectpicker="" id="ageSearch" name="ageSearch" style="display: none;">
                                <option value="">Años</option>
                                <option value="0">&lt; 1</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                            </select>
                            <div class="btn-group bootstrap-select">
                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="ageSearch">
                                    <span class="filter-option pull-left">Años</span>&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                    <li rel="0" class="selected">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">Años</span>
                                        </a>
                                    </li>
                                    <li rel="1">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">&lt; 1</span>
                                        </a>
                                    </li>
                                    <li rel="2">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">1</span>
                                        </a>
                                    </li>
                                    <li rel="3">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">2</span>
                                        </a>
                                    </li>
                                    <li rel="4">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">3</span>
                                        </a>
                                    </li>
                                    <li rel="5">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">4</span>
                                        </a>
                                    </li>
                                    <li rel="6">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">5</span>
                                        </a>
                                    </li>
                                    <li rel="7">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">6</span>
                                        </a>
                                    </li>
                                    <li rel="8">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">7</span>
                                        </a>
                                    </li>
                                    <li rel="9">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">8</span>
                                        </a>
                                    </li>
                                    <li rel="10">
                                        <a tabindex="0" class="" style=""><span class="text">9</span>
                                        </a>
                                    </li>
                                    <li rel="11">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">10</span>
                                        </a>
                                    </li>
                                    <li rel="12">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">11</span>
                                        </a>
                                    </li>
                                    <li rel="13">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">12</span>
                                        </a>
                                    </li>
                                    <li rel="14">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">13</span>
                                        </a>
                                    </li>
                                    <li rel="15">
                                        <a tabindex="0" class="" style="">
                                            <span class="text">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="child-birth-info">
                            <div class="col-xs-12">
                                <select selectpicker="" id="birthmonthSearch" name="birthmonthSearch" style="display: none;">
                                    <option value="">Birth Month</option>
                                    <option value="01">Jan</option>
                                    <option value="02">Feb</option>
                                    <option value="03">Mar</option>
                                    <option value="04">Apr</option>
                                    <option value="05">May</option>
                                    <option value="06">Jun</option>
                                    <option value="07">Jul</option>
                                    <option value="08">Aug</option>
                                    <option value="09">Sept</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <div class="btn-group bootstrap-select">
                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="birthmonthSearch">
                                        <span class="filter-option pull-left">Birth Month</span>&nbsp;
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                        <li rel="0" class="selected">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Birth Month</span>
                                            </a>
                                        </li>
                                        <li rel="1">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Jan</span>
                                            </a>
                                        </li>
                                        <li rel="2">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Feb</span>
                                            </a>
                                        </li>
                                        <li rel="3">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Mar</span>
                                            </a>
                                        </li>
                                        <li rel="4">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Apr</span>
                                            </a>
                                        </li>
                                        <li rel="5">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">May</span>
                                            </a>
                                        </li>
                                        <li rel="6">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Jun</span>
                                            </a>
                                        </li>
                                        <li rel="7">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Jul</span>
                                            </a>
                                        </li>
                                        <li rel="8">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Aug</span>
                                            </a>
                                        </li>
                                        <li rel="9">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Sept</span>
                                            </a>
                                        </li>
                                        <li rel="10">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Oct</span>
                                            </a>
                                        </li>
                                        <li rel="11">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Nov</span>
                                            </a>
                                        </li>
                                        <li rel="12">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Dec</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <select selectpicker="" id="birthdaySearch" name="birthdaySearch" style="display: none;">
                                    <option value="">Birth Day</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="2">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                                <div class="btn-group bootstrap-select ng-pristine ng-valid">
                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="birthdaySearch">
                                        <span class="filter-option pull-left">Birth Day</span>&nbsp;
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                        <li rel="0" class="selected">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">Birth Day</span>
                                            </a>
                                        </li>
                                        <li rel="1">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">1</span>
                                            </a>
                                        </li>
                                        <li rel="2">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">2</span>
                                            </a>
                                        </li>
                                        <li rel="3">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">3</span>
                                            </a>
                                        </li>
                                        <li rel="4">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">4</span>
                                            </a>
                                        </li>
                                        <li rel="5">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">5</span>
                                            </a>
                                        </li>
                                        <li rel="6">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">6</span>
                                            </a>
                                        </li>
                                        <li rel="7">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">7</span>
                                            </a>
                                        </li>
                                        <li rel="8">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">8</span>
                                                <i class="glyphicon">
                                                </i>
                                            </a>
                                        </li>
                                        <li rel="9">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">9</span>
                                            </a>
                                        </li>
                                        <li rel="10">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">10</span>
                                            </a>
                                        </li>
                                        <li rel="11">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">11</span>
                                            </a>
                                        </li>
                                        <li rel="12">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">12</span>
                                            </a>
                                        </li>
                                        <li rel="13">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">13</span>
                                            </a>
                                        </li>
                                        <li rel="14">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">14</span>
                                            </a>
                                        </li>
                                        <li rel="15">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">15</span>
                                            </a>
                                        </li>
                                        <li rel="16">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">16</span>
                                            </a>
                                        </li>
                                        <li rel="17">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">17</span>
                                            </a>
                                        </li>
                                        <li rel="18">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">18</span>
                                            </a>
                                        </li>
                                        <li rel="19">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">19</span>
                                            </a>
                                        </li>
                                        <li rel="20">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">20</span>
                                            </a>
                                        </li>
                                        <li rel="21">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">21</span>
                                            </a>
                                        </li>
                                        <li rel="22">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">22</span>
                                            </a>
                                        </li>
                                        <li rel="23">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">23</span>
                                            </a>
                                        </li>
                                        <li rel="24">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">24</span>
                                            </a>
                                        </li>
                                        <li rel="25">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">25</span>
                                            </a>
                                        </li>
                                        <li rel="26">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">26</span>
                                            </a>
                                        </li>
                                        <li rel="27">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">27</span>
                                            </a>
                                        </li>
                                        <li rel="28">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">28</span>
                                            </a>
                                        </li>
                                        <li rel="29">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">29</span>
                                            </a>
                                        </li>
                                        <li rel="30">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">30</span>
                                            </a>
                                        </li>
                                        <li rel="31">
                                            <a tabindex="0" class="" style="">
                                                <span class="text">31</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer id="Footer" class="container-fluid bottom">
            <div class="row">
               <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <p>
                        AMG Internacional Guatemala<br />
                        Tel: (502) 24715730<br />
                        <a class="text-#F5841F" href="mailto:info@amgguatemala.org">info@amgguatemala.org</a><br />
                        14 Calle 10-80, zona 7 Colonia La Verbena, Guatemala C.A.<br />
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="https://twitter.com/AMGGuatemala"><img src="../images/btn-twitter.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://www.facebook.com/amgguatemala"><img src="../images/btn-facebook.png" /></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ"><img src="../images/btn-youtube.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://instagram.com/amgguatemala/"><img src="../images/btn-instagram.png" /></a>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                    <br/>
                    <img class="img-responsive" src="../images/footer-logo.png" />
                </div>
            </div>
        </footer>
	</body>
</html>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
    jQuery(document).ready(function ($) {

        var options = {
            $FillMode: 4,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
            $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            //$AutoPlayInterval: false,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

            $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
            $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
            $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
            //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
            //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
            $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

            $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                $Scale: false                                   //Scales bullets navigator or not while slider scale
            },

            $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
            }
        };

        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {
            var bodyWidth = document.body.clientWidth;
            if (bodyWidth)
                jssor_slider1.$ScaleWidth(Math.min(bodyWidth, bodyWidth*0.75));
            else
                window.setTimeout(ScaleSlider, 30);
        }
        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
    });
</script>
