<!DOCTYPE html>
<html>
    <head>
        <title>Sponsor A Child</title>

        <link href="../favicon.ico" rel="shortcut icon" type="../image/x-icon" />

        <!-- Bootstrap -->
        <link href="../css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <!-- owl slider -->
        <link rel="stylesheet" href="../css/owl.carousel.css">
        <link rel="stylesheet" href="../css/owl.theme.css">
        <script src="../js/owl.carousel.js"></script>

        <!-- client side code -->
        <script type="text/javascript" charset="utf-8" src="../js/children.js"></script>

        <link href="../css/Site.css" rel="stylesheet" />
        <link href="../css/children.css" rel="stylesheet" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <section class="pre-header">
            <div class="content">
                <div class="row vcenter">
                    <div class="col-sm-1 hidden-xs col-sm-offset-1">
                        <a class="vcenter" href="https://twitter.com/AMGGuatemala">
                            <img src="../image/btn-pre-twitter.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://www.facebook.com/amgguatemala">
                            <img src="../image/btn-pre-facebook.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ">
                            <img src="../image/btn-pre-youtube.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <a class="vcenter" href="https://instagram.com/amgguatemala/">
                            <img src="../image/btn-pre-instagram.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1">
                        <a class="vcenter" href="https://en.amgg.org">English</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="vcenter" href="pdf/boletin.pdf">Boletin</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="vcenter" href="children.html">Donar</a>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <a class="vcenter" href="https://www.facebook.com/Guates-Best-Store-1431567437168029/">Guates Best</a>
                    </div>
                    <div class="col-sm-1 pre-active">
                        <a class="vcenter" href="involucrate.html#Apadrina">Apadrina</a>
                    </div>
                    <div class="col-sm-1 pre-active">
                        <a href="#" class="vcenter" id="toggle-login">Log in</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="login" algin="right">
            <div class="login-triangle"></div>
            <h1>Log in</h1>
            <form>
                <input class="donor-email" type="email" placeholder="Email" />
                <input class="donor-password" type="password" placeholder="Password" />
                <button class="login-submit" type="submit" value="Log in">  Log in </a> </button>
            </form>
        </div>

        <div id="conatiner" class="row">
            <div class="col-md-8">
                <div id="insert-here" class="span8 owl-carousel owl-theme">

                </div>
                <div class="nav-buttons">
                    <div id="prev-button" class="btn btn-primary btn-sm child-intro-btn-sponsor sponsor-button">
                        anterior
                    </div>

                    <div id="next-button" class="btn btn-primary btn-sm child-intro-btn-sponsor sponsor-button">
                        el siguiente
                    </div>

                    <div id="add-button" class="btn btn-primary btn-sm child-intro-btn-sponsor sponsor-button">
                        tener otro hijo
                    </div>
                </div>
            </div>

            <div id="find-a-child" class="col-md-4 span4">
                <div class="child-search">
                            <div class="panel panel-primary find-child-panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="lead text-center">Find a Child</p>
                                            <p class="text-center">Thousands of children are waiting for sponsorship around the globe.<br>Find your perfect match!</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select selectpicker="" name="genderSearch" class="inputbox form-control validate[required]" style="display: none;">
                                                <option value="">Género</option>
                                                <option value="M">Boy</option>
                                                <option value="F">Girl</option>
                                            </select>
                                            <div class="btn-group bootstrap-select">
                                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                                    <span class="filter-option pull-left">Género</span>&nbsp;
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                    <li rel="0" class="selected">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Género</span>
                                                        </a>
                                                    </li>
                                                    <li rel="1">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Boy</span>
                                                        </a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Girl</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <select selectpicker="" name="genderSearch" class="inputbox form-control validate[required]" style="display: none;">
                                                <option value="">Centro de Ninos</option>
                                                <option value="C1">Center 1</option>
                                                <option value="C2">Center 2</option>
                                                <option value="C3">Center 3</option>
                                                <option value="C4">Center 4</option>
                                            </select>
                                            <div id="child-center" class="btn-group bootstrap-select">
                                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                                    <span class="filter-option pull-left">Centro de Ninos</span>&nbsp;
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                    <li rel="0" class="selected">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Centro de Ninos</span>
                                                        </a>
                                                    </li>
                                                    <li rel="1">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Center 1</span>
                                                        </a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Center 2</span>
                                                        </a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Center 3</span>
                                                        </a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Center 4</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <select selectpicker="" id="ageSearch" name="ageSearch" style="display: none;">
                                                <option value="">Años</option>
                                                <option value="0">&lt; 1</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                            </select>
                                            <div class="btn-group bootstrap-select">
                                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="ageSearch">
                                                    <span class="filter-option pull-left">Años</span>&nbsp;
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                    <li rel="0" class="selected">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">Años</span>
                                                        </a>
                                                    </li>
                                                    <li rel="1">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">&lt; 1</span>
                                                        </a>
                                                    </li>
                                                    <li rel="2">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">1</span>
                                                        </a>
                                                    </li>
                                                    <li rel="3">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">2</span>
                                                        </a>
                                                    </li>
                                                    <li rel="4">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">3</span>
                                                        </a>
                                                    </li>
                                                    <li rel="5">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">4</span>
                                                        </a>
                                                    </li>
                                                    <li rel="6">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">5</span>
                                                        </a>
                                                    </li>
                                                    <li rel="7">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">6</span>
                                                        </a>
                                                    </li>
                                                    <li rel="8">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">7</span>
                                                        </a>
                                                    </li>
                                                    <li rel="9">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">8</span>
                                                        </a>
                                                    </li>
                                                    <li rel="10">
                                                        <a tabindex="0" class="" style=""><span class="text">9</span>
                                                        </a>
                                                    </li>
                                                    <li rel="11">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">10</span>
                                                        </a>
                                                    </li>
                                                    <li rel="12">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">11</span>
                                                        </a>
                                                    </li>
                                                    <li rel="13">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">12</span>
                                                        </a>
                                                    </li>
                                                    <li rel="14">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">13</span>
                                                        </a>
                                                    </li>
                                                    <li rel="15">
                                                        <a tabindex="0" class="" style="">
                                                            <span class="text">14</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="child-birth-info">
                                            <div class="col-xs-12">
                                                <select selectpicker="" id="birthmonthSearch" name="birthmonthSearch" style="display: none;">
                                                    <option value="">Birth Month</option>
                                                    <option value="01">Jan</option>
                                                    <option value="02">Feb</option>
                                                    <option value="03">Mar</option>
                                                    <option value="04">Apr</option>
                                                    <option value="05">May</option>
                                                    <option value="06">Jun</option>
                                                    <option value="07">Jul</option>
                                                    <option value="08">Aug</option>
                                                    <option value="09">Sept</option>
                                                    <option value="10">Oct</option>
                                                    <option value="11">Nov</option>
                                                    <option value="12">Dec</option>
                                                </select>
                                                <div class="btn-group bootstrap-select">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="birthmonthSearch">
                                                        <span class="filter-option pull-left">Birth Month</span>&nbsp;
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                        <li rel="0" class="selected">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Birth Month</span>
                                                            </a>
                                                        </li>
                                                        <li rel="1">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Jan</span>
                                                            </a>
                                                        </li>
                                                        <li rel="2">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Feb</span>
                                                            </a>
                                                        </li>
                                                        <li rel="3">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Mar</span>
                                                            </a>
                                                        </li>
                                                        <li rel="4">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Apr</span>
                                                            </a>
                                                        </li>
                                                        <li rel="5">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">May</span>
                                                            </a>
                                                        </li>
                                                        <li rel="6">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Jun</span>
                                                            </a>
                                                        </li>
                                                        <li rel="7">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Jul</span>
                                                            </a>
                                                        </li>
                                                        <li rel="8">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Aug</span>
                                                            </a>
                                                        </li>
                                                        <li rel="9">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Sept</span>
                                                            </a>
                                                        </li>
                                                        <li rel="10">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Oct</span>
                                                            </a>
                                                        </li>
                                                        <li rel="11">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Nov</span>
                                                            </a>
                                                        </li>
                                                        <li rel="12">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Dec</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <select selectpicker="" id="birthdaySearch" name="birthdaySearch" style="display: none;">
                                                    <option value="">Birth Day</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="2">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <div class="btn-group bootstrap-select ng-pristine ng-valid">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="birthdaySearch">
                                                        <span class="filter-option pull-left">Birth Day</span>&nbsp;
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu inner selectpicker scrollable-menu" role="menu">
                                                        <li rel="0" class="selected">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">Birth Day</span>
                                                            </a>
                                                        </li>
                                                        <li rel="1">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">1</span>
                                                            </a>
                                                        </li>
                                                        <li rel="2">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">2</span>
                                                            </a>
                                                        </li>
                                                        <li rel="3">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">3</span>
                                                            </a>
                                                        </li>
                                                        <li rel="4">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">4</span>
                                                            </a>
                                                        </li>
                                                        <li rel="5">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">5</span>
                                                            </a>
                                                        </li>
                                                        <li rel="6">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">6</span>
                                                            </a>
                                                        </li>
                                                        <li rel="7">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">7</span>
                                                            </a>
                                                        </li>
                                                        <li rel="8">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">8</span>
                                                                <i class="glyphicon">
                                                                </i>
                                                            </a>
                                                        </li>
                                                        <li rel="9">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">9</span>
                                                            </a>
                                                        </li>
                                                        <li rel="10">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">10</span>
                                                            </a>
                                                        </li>
                                                        <li rel="11">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">11</span>
                                                            </a>
                                                        </li>
                                                        <li rel="12">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">12</span>
                                                            </a>
                                                        </li>
                                                        <li rel="13">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">13</span>
                                                            </a>
                                                        </li>
                                                        <li rel="14">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">14</span>
                                                            </a>
                                                        </li>
                                                        <li rel="15">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">15</span>
                                                            </a>
                                                        </li>
                                                        <li rel="16">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">16</span>
                                                            </a>
                                                        </li>
                                                        <li rel="17">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">17</span>
                                                            </a>
                                                        </li>
                                                        <li rel="18">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">18</span>
                                                            </a>
                                                        </li>
                                                        <li rel="19">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">19</span>
                                                            </a>
                                                        </li>
                                                        <li rel="20">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">20</span>
                                                            </a>
                                                        </li>
                                                        <li rel="21">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">21</span>
                                                            </a>
                                                        </li>
                                                        <li rel="22">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">22</span>
                                                            </a>
                                                        </li>
                                                        <li rel="23">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">23</span>
                                                            </a>
                                                        </li>
                                                        <li rel="24">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">24</span>
                                                            </a>
                                                        </li>
                                                        <li rel="25">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">25</span>
                                                            </a>
                                                        </li>
                                                        <li rel="26">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">26</span>
                                                            </a>
                                                        </li>
                                                        <li rel="27">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">27</span>
                                                            </a>
                                                        </li>
                                                        <li rel="28">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">28</span>
                                                            </a>
                                                        </li>
                                                        <li rel="29">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">29</span>
                                                            </a>
                                                        </li>
                                                        <li rel="30">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">30</span>
                                                            </a>
                                                        </li>
                                                        <li rel="31">
                                                            <a tabindex="0" class="" style="">
                                                                <span class="text">31</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div id="search-button" class="btn btn-primary btn-sm child-intro-btn-sponsor sponsor-button col-xs-12" align="right">
                                                    search
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>

        <footer id="Footer" class="container-fluid bottom">
            <div class="row">
               <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <p>
                        AMG Internacional Guatemala<br />
                        Tel: (502) 24715730<br />
                        <a class="text-#F5841F" href="mailto:info@amgguatemala.org">info@amgguatemala.org</a><br />
                        14 Calle 10-80, zona 7 Colonia La Verbena, Guatemala C.A.<br />
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="https://twitter.com/AMGGuatemala"><img src="../images/btn-twitter.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://www.facebook.com/amgguatemala"><img src="../images/btn-facebook.png" /></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ"><img src="../images/btn-youtube.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://instagram.com/amgguatemala/"><img src="../images/btn-instagram.png" /></a>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                    <br/>
                    <img class="img-responsive" src="../images/footer-logo.png" />
                </div>
            </div>
        </footer>
    </body>
</html>
