<select id="departamento" class="form-control" name="departamento" style="margin-bottom: .05em; margin-top: .05em;">
    <option value="" disabled selected>Departamento</option>
    <option value="Alta Verapaz">Alta Verapaz</option>
    <option value="Baja Verapaz">Baja Verapaz</option>
    <option value="Chimaltenango">Chimaltenango</option>
    <option value="Chiquimula">Chiquimula</option>
    <option value="El Progreso">El Progreso</option>
    <option value="Escuintla">Escuintla</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Huehuetenango">Huehuetenango</option>
    <option value="Izabal">Izabal</option>
    <option value="Jalapa">Jalapa</option>
    <option value="Jutiapa">Jutiapa</option>
    <option value="Petén">Petén</option>
    <option value="Quetzaltenango">Quetzaltenango</option>
    <option value="Quiché">Quiché</option>
    <option value="Huehuetenango">Huehuetenango</option>
    <option value="Quiche">Quiche</option>
    <option value="Retalhuleu">Retalhuleu</option>
    <option value="Sacatepequez">Sacatepequez</option>
    <option value="San Marcos">San Marcos</option>
    <option value="Solola">Solola</option>
    <option value="Suchitepequez">Suchitepequez</option>
    <option value="Totonicapán">Totonicapán</option>
    <option value="Zacapa">Zacapa</option>
</select>
