<html>
    <head>
        <title>Donor Checkout Page</title>

        <link href="../favicon.ico" rel="shortcut icon" type="../image/x-icon" />

        <link href="../css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <script type="text/javascript" charset="utf-8" src="./../js/payment.js"></script>
        <script type="text/javascript" charset="utf-8" src="./../js/arrive.min.js"></script>

        <link href="../css/Site.css" rel="stylesheet" />
        <link href="../css/payment.css" rel="stylesheet" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <section class="pre-header">
            <div class="content">
                <div class="row vcenter">
                    <div id="home-button" class="col-sm-1">
                        <a class="vcenter" href="../index.html">
                            <img src="../image/logo-amg_1_50.png" class="img-center" />
                        </a>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <a class="vcenter" href="en.amgg.org">English</a>
                    </div>
                    <div class="col-sm-2">
                        <a style="text-align: right" href="https://www.facebook.com/Guates-Best-Store-1431567437168029/" target="_blank">Guates Best</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="vcenter" href="pdf/boletin.pdf" target="_blank">Boletin</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="vcenter" href="/views/children.html">Donar</a>
                    </div>
                    <div class="col-sm-2 pre-active" style="text-align: center" >
                        <a style="text-align: center"  href="involucrate.html#Apadrina">Apadrina</a>
                    </div>
                    <div class="col-sm-1 pre-active">
                        <a href="#" class="vcenter" id="toggle-login">Log in</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="login" algin="right">
            <div class="login-triangle"></div>
            <h1>Log in</h1>
            <form>
                <input class="donor-email" type="email" placeholder="Email" />
                <input class="donor-password" type="password" placeholder="Password" />
                <button class="login-submit btn btn-primary" type="submit" value="Log in">  Log in </button>
                <a class="create-account" href="#">Create Account</a>
                <a class="forgot-password pull-right" href="#">Forgot Password</a>
            </form>
        </div>

        <div class="content-container">
            <div class="content-wrapper row row-centered">
                <div class="form col-md-6" id="children-to-sponsor">
                    <span class="header">Selecciones Niño</span>
                    <hr>
                    <div id="spinner" class="col-md-12">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

                <div class="form col-md-6" id="donor-info">
                    <span class="header">Datos de Facturación</span>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Número de Tarjeta</label>
                        <div class="col-md-8">
                            <input id="form-credit" class="form-control" type="text" name="credit" placeholder="xxxx xxxx xxxx xxxx" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">CVV</label>
                        <div class="col-md-8">
                            <input id="form-cvv" class="form-control" type="text" name="cvv" placeholder="123" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Fecha de Caducidad</label>
                        <div class="expiration-date">
                            <div class="col-md-8">
                                <div class="dropdown">
                                    <button id="form-expiration-1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    01
                                    <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">02</a></li>
                                    <li><a href="#">03</a></li>
                                    <li><a href="#">04</a></li>
                                    <li><a href="#">05</a></li>
                                    <li><a href="#">06</a></li>
                                    <li><a href="#">07</a></li>
                                    <li><a href="#">08</a></li>
                                    <li><a href="#">09</a></li>
                                    <li><a href="#">10</a></li>
                                    <li><a href="#">11</a></li>
                                    <li><a href="#">12</a></li>
                                  </ul>
                                </div>
                                /
                                <div class="dropdown">
                                    <button id="form-expiration-2" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    16
                                    <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">17</a></li>
                                    <li><a href="#">18</a></li>
                                    <li><a href="#">19</a></li>
                                    <li><a href="#">20</a></li>
                                    <li><a href="#">21</a></li>
                                    <li><a href="#">22</a></li>
                                    <li><a href="#">23</a></li>
                                    <li><a href="#">24</a></li>
                                    <li><a href="#">25</a></li>
                                    <li><a href="#">26</a></li>
                                    <li><a href="#">27</a></li>
                                    <li><a href="#">28</a></li>
                                    <li><a href="#">29</a></li>
                                    <li><a href="#">30</a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nombre en la Tarjeta</label>
                        <div class="col-md-8">
                            <input id="form-name-on-card" class="form-control" type="text" name="name-on-card" placeholder="John Doe" >
                        </div>
                    </div>
                    <a>
                        <button id="checkout-submit" class="btn btn-primary btn-md child-intro-btn-sponsor sponsor-button pull-right" type="button">Proceed to Payment</button>
                    </a>
                </div>
            </div>
        </div>

        <footer id="Footer" class="container-fluid bottom">
            <div class="row">
               <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <p>
                        AMG Internacional Guatemala<br />
                        Tel: (502) 24715730<br />
                        <a class="text-#F5841F" href="mailto:info@amgguatemala.org">info@amgguatemala.org</a><br />
                        14 Calle 10-80, zona 7 Colonia La Verbena, Guatemala C.A.<br />
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="https://twitter.com/AMGGuatemala"><img src="../images/btn-twitter.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://www.facebook.com/amgguatemala"><img src="../images/btn-facebook.png" /></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://www.youtube.com/channel/UCDRWMZkdIWYWq7lqZzcuFxQ"><img src="../images/btn-youtube.png" /></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://instagram.com/amgguatemala/"><img src="../images/btn-instagram.png" /></a>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                    <br/>
                    <a href="../index.html"><img class="img-responsive" src="../images/footer-logo.png"/></a>
                </div>
            </div>
        </footer>
    </body>
</html>
