/*Element Styles*/
label {
	margin-top: .4em;
	margin-bottom: .4em;
}

hr {
	border-color: #15274D;
}

input {
	margin-top: .1em;
	margin-bottom: .1em;
}

table {
	display: table;
}

footer {
	margin-top: auto;
	bottom:0px;
	left:0px;
	right:0px;
	margin-bottom:0px;
}

.center {
  margin: 200px 50px 100px;
	text-align: center;
}

/*Class Styles*/
.header {
	text-align: left;
	font-size: 1.7rem;
	font-weight: bold;
}

.content-wrapper {
	margin-top: 7em;
	margin-bottom: 3em;
	margin-left: 4em;
	margin-right: 4em;
	display: block;
}

.child-info {
	margin-top: .1em;
	margin-bottom: .1em;
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 2rem;
}

.empty-cart {
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 2rem;
	margin: 0 auto;
}

.dropdown {
	display: inline-block;
}

.dropdown-toggle {
	color: black;
}

.dropdown-menu {
	background-color: white !important;
}

.dropdown-menu > li > a {
	color: black;
}

.scrollable-menu {
    height: auto;
    max-height: 137px;
    overflow-x: hidden;
}

.expiration-date {
	text-align: left;
}

.child-selections {
	max-width: 100%;
}

.child-img {
	max-width: 10em;
}

.child-info-group {
	display: table-cell;
  vertical-align: middle;
}

.table {
  border-bottom: 1px solid #DDDDDD;
}

/*ID Styles*/
#checkout-submit {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
}
