.owl-carousel{
	display: inline-block;
    width: 100%;
    height: auto;
}

.owl-item {
	width: 75%;
}

.owl-wrapper-outer {
	margin-left: 5em;
}

.span8 {
    width: 950px;
    display: inline-block !important;
    margin-top: 5em;
}

.span4 {
    width: 350px;
    display: inline-block !important;
    margin-top: 5em;
    margin-left: auto;
    margin-right: 0;
}

.nav-buttons {
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  text-align: center;
}

.btn-group {
	margin-top: .15em;
	margin-bottom: .15em;
}

.dropdown-toggle {
	color: black;
}

.scrollable-menu {
    height: auto;
    max-height: 195px;
    overflow-x: hidden;
}

.form-group {
	margin-left: 1em;
	margin-right: 1em;
}

.child-picture {
	margin-top:  2em;
	display: block/none;
}

.child-search {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2.5em;
}

#search-button {
	margin-top: 1em;
	margin-bottom: 0.15em;
	margin-right: 0;
	margin-left: 80%;
}

footer {
	margin-top: 10%;
	display: block;
}