/* Begin Login overlay */
body {
    z-index: 10;
}

.login{
	position: fixed;
	display: none;
	width:400px;
	margin-left: 68%;
	margin-right: 0.5em;
	margin-top: 0;
	padding-top: 0.55em;
	margin-top:8px;
	margin-bottom:2%;
  z-index: 11; /* 1px higher than the overlay layer */
}

.login-triangle {
  width: 0;
  margin-right: 0.75em;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login h1{
  background:#3399cc;
  padding:10px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
  margin: 0;
}

form{
  background:#f0f0f0;
  padding: 6% 4%;
}

input[type="email"],input[type="password"] {
  width:92%;
  background:#fff;
  margin-left: 1em;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

.login-submit {
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  background-color: #337ab7;
  border-color: #2e6da4;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.login-submit a {
  color: #FFFFFF;
}

.login-submit a:hover {
  background:#2288bb;
}
/* End Login overlay */

#child-img {
    margin-top: 5%;
    margin-bottom: 5%;
}

.owl-carousel{
	display: inline-block;
  width: 100%;
  height: auto;
  margin-left: 5em;
}

.owl-item {
	width: 75%;
}

.owl-pagination {
  margin-right: 7em;
}

.span8 {
  width: 950px;
  display: inline-block !important;
  margin-top: 5em;
}

.span4 {
  width: 350px;
  display: inline-block !important;
  margin-top: 5em;
  margin-left: auto;
  margin-right: 0;
}

.btn-group {
	margin-top: .15em;
	margin-bottom: .15em;
}

.dropdown-toggle {
	color: black;
}

.scrollable-menu {
  height: auto;
  max-height: 195px;
  overflow-x: hidden;
}

#sponsor-button {
	margin-bottom: 0.5em;
}

.form-group {
	margin-left: 1em;
	margin-right: 1em;
}

footer {
	margin-top: 10%;
	display: block;
}

.child-picture {
	margin-top:  2em;
	display: block/none;
}

.child-search {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2.5em;
}

#search-button {
  width: 38%;
  margin-right: 0;
  margin-left: 57%;
}

.nav-buttons {
  width: 50%;
  padding-left: 10em;
  margin: 0 auto;
}
